/* Sidebar */
.sidebar{
  background-color: white;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 72px;
  z-index: 200;
  padding-top: 4px;
}
.sidebar-links{
  /* background-color: aqua; */
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-links img {
  width: 24px;
  margin-bottom: 6.5px;
}

.sidebar-links div{
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 10px;
  font-weight: 400;
}
/* .sidebar-icons{
  width: 24px;
  align-content: center;
}
.sidebar-icons-name{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
} */

.sidebar-links:hover{
  background-color: rgb(230, 230, 230);
}

/* Sidebar END */